---
import { Image } from 'astro:assets'
import { type Playlist } from '@/lib/data'

interface Props {
  playlist: Playlist
}

const { playlist } = Astro.props
const { id, title, cover, artists } = playlist
const artistsName = artists.join(', ')
---

<a href={`/playlist/${id}`} class='p-3 flex items-center gap-3'>
  <Image
    src={cover}
    alt={title}
    width={48}
    height={48}
    loading={'eager'}
    class='rounded-sm'
  />

  <div>
    <h3>{title}</h3>
    <span class='text-sm opacity-50'>{artistsName}</span>
  </div>
</a>
