---
import CardButton from './CardButton'

interface Props {
  id: string
  title: string
  cover: string
  artists: string[]
}

const { id, title, cover, artists } = Astro.props
const artistsName = artists.join(', ')
---

<article
  class='w-[9.5rem] p-2 rounded-md hover:bg-[#1a1a1a] md:w-[11.25rem] md:p-3'
>
  <a href={`/playlist/${id}`} class='flex flex-col gap-2 group'>
    <div class='relative'>
      <img
        src={cover}
        alt={title}
        width={164}
        height={164}
        loading='eager'
        class='rounded-md'
      />

      <CardButton playlistId={id} client:visible />
    </div>

    <div>
      <h3>{title}</h3>
      <span class='text-sm opacity-50'>{artistsName}</span>
    </div>
  </a>
</article>
